<form action="/Post/Adiciona">
    <label>Titulo: <input name="titulo"/></label>
    <label>Resumo: <input name="resumo"/></label>
    <label>Categoria: <input name="categoria"/></label>
    <button type="submit">Cadastrar</button>
</form>